:root {
    scroll-behavior: smooth;

}

body{
    margin: 0;
}

.section{
    height: 100vh;
    //font-size: 10vh;
    text-align: right;
    color: white;
    padding: 5%;
    box-sizing: border-box;


    >*{
        position: relative;
        z-index: 999;
    }
    h1{
        font-size: 5vh; 
     }

    &#presentation{
       // background-color: rgba(165, 42, 42, 0.315);
        

        img {
            width: 40vw;
        }
    }
    &#reviews{
        //background-color: rgba(255, 140, 0, 0.445);
    }
    &#apply{
       // background-color: rgba(0, 128, 0, 0.445);
    }
 }
.navbar {
    position: fixed;
    z-index: 1000;
    h1{
        color: white;
        margin: 40px 20px;
        font-size: 30px;
        display: inline-block;
        border-bottom: 4px solid black;
    }
    ul{
        list-style: none;
        display: inline-block;
    }
    li{
        display: inline-block;
        margin-right: 20px;
        border-bottom: 2px solid ;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 25px; 
     }
}